@use 'base';

.section_2 {
  background: linear-gradient(
      to right,
      #F7F5EF 40%,
      #FDFDFB 40%,
      #FDFDFB 60%);
}

.info-gallery-container {
  margin-top: 52px;

  .gallery-content-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .gallery-img-container {
    margin-right: 70px;

    img {
      width: 100%;
      min-width: 200px;
    }
  }

  .gallery-content {

  }
}

.gallery-content {
  h1 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;

    color: #1B1A17;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #444240;
  }

  .gallery-btn {
    padding: 1.5rem 2.5rem;

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;

    color: #FFFFFF;

    border: none;
    background-color: #D4B098;
  }
}

.gallery-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
